.profileFollow {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  .counts{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 2px;
  }

  .useCase{
    font-weight: 400;
    font-size : 15px;
    line-height: 18px;
    color: #c2c2c2;
  }
}