//circle diameters
$diameter45: 45px;
$diameter90: 90px;

.addressField {
  width: calc(100% - (15px + $diameter45));
}

.paymentModal {
  // border: 1px solid rgb(0, 255, 38);
  // padding-top: 50px;
  margin-top: 20%;
  margin-bottom: 20px;
  width: 100%;
}
.topPaymentModal {
  width: 85%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin: 0 auto;
}

.topHeading {
  margin-bottom: 40px;
}

.locationImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  //   border: 1px solid red;
  margin-right: 20px;
  background-color: aquamarine;
  background-image: url("../../assets/images/location.png");
  background-position: center;
  background-size: cover;
  //   flex: 1;
}

.topAddressInput {
  display: flex;
}
.input {
  width: 80%;
  // border: 1px solid red;
  margin: 0 auto;
}

.inputText {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  // &:focus-within label {
  //   transform: translate(0, 12px) scale(0.5);
  //   color: white;
  // }

  // .filled {
  //   // transform: translate(0, 0) scale(1);
  //   border: 2px solid rgb(85, 0, 255);
  // }
  // .notFilled {
  //   transform: translate(0, 0) scale(0.7);
  //   border: 2px solid red;
  // }

  // input:not(:placeholder-shown)
}

.paymentInput {
  width: 100%;
  height: 50px;
  margin: 30px 0px 120px 0px;
  position: relative;

  color: white;
  border-radius: 60px;
  // border: 1px solid red;
  font-size: 13px;
  padding: 0px 0px 0px 36px;
  // font-size: 16px;
  border: none;
  line-height: 1;
  background-color: #322f37;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.72);
    outline: none;
  }
}

.paymentOnDelivery {
  width: 90%;
  height: 50px;
  // border: 1px solid #fff;s
  border-radius: 60px;
  margin: 30px auto 130px auto;
  padding: 0 20px;
  background-color: #322f37;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // p {
  //   margin-left: 20px;
  // }
}

.middlePaymentModal {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  margin-left: 5%;
}

.middleHeading {
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
}
.middleHeadingLeft {
  // border: 1px solid red;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
}
.addNewCardText {
  color: #4282ff;
  padding-right: 5%;
  width: 150px;
  cursor: pointer;
  //   border: 1px solid red;
}
.middleHeading {
  // border: 3px solid red;
  margin-bottom: 30px;
}
.middleBottom {
  //   border: 1px solid red;
  width: 100%;
  display: flex;
  overflow-x: scroll;
}

.paymentOnDeliveryInput {
  border: 1px solid red;
}
.selectInputSection {
  width: 90%;
  // border: 1px solid red;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
}

.selectInput {
  width: 40%;
  height: 50px;
  // margin: 30px 0px 120px 0px;
  position: relative;

  color: white;
  border-radius: 60px;
  // border: 1px solid red;
  font-size: 13px;
  padding: 0px 0px 0px 36px;
  // font-size: 16px;
  border: none;
  line-height: 1;
  background-color: #322f37;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.72);
    outline: none;
  }
}
.card {
  //   width: 200px;
  //   height: 200px;
  padding: 5rem;

  border-radius: 20px;
  //   border: 1px solid green;
  margin: 0px 7px 7px 7px;
}
.card1 {
  background-image: url("../../assets/images/cardbg.png");
  background-size: contain;
  background-position: center;
}
.card2 {
  background-image: url("../../assets/images/cardbg2.png");
  background-size: contain;
  background-position: center;
}
.card3 {
  background-image: url("../../assets/images/cardbg3.png");
  background-size: contain;
  background-position: center;
}

.bottomPaymentModal {
  //   border: 1px solid red;
}

.buttonSection {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

// newcard

.newCard {
  width: 90%;
  height: 250px;
  //   border: 1px solid red;
  border-radius: 30px;
  //   margin-bottom: 30px;
  margin: 30px auto;
  background-color: #322f37;
  padding: 0 30px;
}
.newCardForm {
  height: 100%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  //   border: 1px solid red;
  justify-content: center;
}
.newCardNumberInput {
  width: 100%;
  border-radius: 50px;
  background-color: #000;
  padding: 15px 15px;
  color: #fff;
  border: none;
  letter-spacing: 7px;
  text-align: center;
}
.newCardbottomInputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // border: 1px solid red;
}
.expiryInput {
  // width: 70%;
  margin-right: auto;
  width: 100%;
  border-radius: 50px;
  background-color: #000;
  padding: 15px 15px;
  color: #fff;
  border: none;
  text-align: center;
  letter-spacing: 7px;
}
.cvvWrapper {
  width: 40%;
}
.cvv {
  width: 100%;
  // margin-left: auto;
  // border: 1px solid red;
  // width: 100%;
  border-radius: 50px;
  background-color: #000;
  padding: 15px 15px;
  color: #fff;
  border: none;
  text-align: center;
  letter-spacing: 7px;
}

/* Input style */
