@import "../../styles/functions";
@import "../../styles/mixins";
@import "../../styles/variables";

.purpleButton {
  // border: 1px solid red;
  //   height: 45px;
  //   width: 100px;
  background-color: #7630fb;
  // padding: 0.8vw 1.7vw;
  // padding: 1.3vw 2.7vw;
  padding: 18px 37px;
  border-radius: 40px 0 0 40px;

  // display: inline-block;
  position: absolute;
  bottom: 35px;
  right: 0;

  font-size: 0.7vw;
  cursor: pointer;
  &:hover {
    filter: brightness(0.9);
    // background-color: #e23c32;
  }

  // &.large {
  //   // color: red;
  //   // border: 2px solid orange;
  //   padding: 1.1vw 2.3vw;
  // }

  // &.bgWhite {
  //   background-color: #ffffff;
  //   color: #333333;
  // }

  // &.bgBlack {
  //   background-color: #322f37;
  //   color: #ffffff;
  // }
  @include xlMaxBreakPoint {
    padding: 12px 27px;
    font-size: 11px;
  }
}
