.skeletonWrapper {
  margin-bottom: 15px;
  //   border: 1px solid red;
  position: relative;
  overflow: hidden;
}

.skeleton {
  background-color: #7e7f7f;

  &.video {
    width: 100%;
    aspect-ratio: 1/1.7;
  }

  &.interestsCircle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
}
