.galleryLoadingContainer {
  width: 100%;
  margin: 0 auto;
}

.masonry {
  display: flex;
  width: auto;
}
.masonryColumn {
  // padding-left: 10px; /* gutter size */
  padding: 0 10px;
  background-clip: padding-box;
}
