.category {
  height: 65vh;
  width: 400px;
  // width: 400px;
  // height: 100%;
  margin-bottom: 100px;
}

.content {
  // padding: 0 50px;
  padding: 0 40px;
  width: 400px;
  // border: 1px solid red;
}

.deliveryInfoBody {
  margin-bottom: 200px;
  margin-top: 100px;
  .deliveryOption {
    display: flex;
    align-items: center;
    // border: 1px solid green;
    font-size: 12px;
    margin-bottom: 20px;

    p {
      margin-left: 10px;
    }
  }
}
