.inputTextArea {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 200px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  line-height: 1;
  background-color: #322f37;
  outline: none;
  padding: 30px;
  box-shadow: none;
  color: white !important;
  &:focus {
    box-shadow: 0 0 0 2px rgba(66, 130, 255, 0.6);
  }
}
