.productInfo {
  height: 100%;
  width: 400px;
  // border: 1px solid red;
  margin-bottom: 30px;
  padding: 0 20px;

  .Content {
    height: 100%;
    width: 100%;

    form {
      display: flex;
      flex-direction: column;
      //background-color: #4f4f4f;
      height: fit-content;
      .priceInfo {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .currency {
          width: 35%;
        }

        .price {
          width: 60%;
        }
      }
    }
  }
}
