.progressModal {
  width: 400px;
  //   padding: 0 40px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  //   border: 1px solid red;
}

.overlayImage {
  width: 25px;
}
