.productInfo {
  height: 80vh;
  width: 400px;
  // border: 1px solid red;

  .content {
    padding: 0 10px;
    width: 100%;

    .priceInfo {
      display: flex;
      width: 100%;

      .currency {
        width: 40%;
      }

      .price {
        width: 60%;
      }
    }
  }
}
