@import "../../../styles/functions";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.otpModalContent {
  // border: 1px solid red;
  // margin: 20px 0;
  padding: 30px;

  .resendText {
    text-align: right;
    padding: 20px 0;
    color: #4282ff;
    font-size: toRem(12);
    cursor: pointer;
  }
}
