.productSpecs {
  width: 420px;
  // height: 600px;
  // border: 1px solid green;
  margin-top: 5%;
  // padding: 0 10px;

  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  .productSpecsWrapper {
    width: 80%;
    // border: 1px solid red;
    .colorsSection {
      margin-bottom: 30px;
      // border: 2px solid red;
      text-align: left;
    }
    .colorsHeading {
      margin-bottom: 20px;
    }
    .sizeSection {
      margin-bottom: 30px;
      text-align: left;
    }
    .sizeHeading {
      margin-bottom: 20px;
    }
    .quantitySection {
      margin-bottom: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // border: 1px solid red;
    }
    .quantityHeading {
      margin-right: 50px;
    }

    .buttonSection {
      display: flex;
      justify-content: space-between;
      // border: 1px solid red;
    }
  }
}
