.inputCategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  .highlight {
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 2px;
    border: transparent 2px solid;

    &.active {
      border-radius: 100%;
      box-shadow: 0 0 0 2px rgba(66, 130, 255, 0.6);
    }
  }

  .size {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    background-color: #322f37;
    display: flex;

    input {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      z-index: 3;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      position: absolute;
      z-index: 1;
    }

    p {
      font-weight: bold;
      text-transform: capitalize;
      text-align: center;
      padding-top: 40px;
      width: 100%;
      height: 100%;
      z-index: 2;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .small {
    width: 70px;
    height: 70px;

    p {
      font-size: 10px;
      padding-top: calc(60% - 10px);
    }
  }
}
