@import "../../styles/functions";
@import "../../styles/mixins";
@import "../../styles/variables";

.modal {
  width: 70%;
  // width: 70vw;
  //   width: clamp(50%, 700px, 90%);
  height: 70vh;
  // margin: auto;
  //   padding: 0 2rem;
  margin-top: 5%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(0, 255, 8);
  background-color: black;
}
// .videoSection {
//   flex: 1;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   background-color: beige;
//   border: 5px solid orange;
// }

// .videoModal {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
// }
// .tabSection {
//   flex: 1;
//   height: 100%;
//   overflow: scroll;
//   background-color: #000;
//   // border: 2px solid rgb(77, 255, 0);
// }
#video {
  height: 100%;

  // 1080 × 2048
}

.tabSection {
  width: 50%;
  border: 3px solid green;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  background-color: #000;
  // display: none;

  // @include lgMaxBreakPoint {
  //   border: 2px solid red;
  //   flex: 2;
  // }
}
.tabHeader {
  // border: 1px solid red;
  margin: 20px 0;
}

.tabBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  // min-height: auto;
  // position: relative;
  // border: 1px solid purple;
  bottom: 0;
}

.tab {
  padding: 10px 20px;
  // cursor: pointer;
  // border: 2px solid red;
  background: none;
  color: #fff;
  &.underline {
    border-bottom: 2px solid white;
  }
}
